
        #wp_config_content {
            height:100%;
        }
        .dashicons-info {
            cursor: pointer;
            margin-left: 5px;
            position: relative;
        }
        .info-bubble {
            background: #000;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            position: absolute;
            z-index: 9999;
            white-space: pre-line;
            max-width: 200px;
            font-size: 13px;
            top: 0;
            left: 25px;
            width: max-content;
        }
